@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 0.938rem;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 70%);
  transition: background-color 0.4s;
}

h1,
h2,
h3,
h4 {
  color: hsl(0, 0%, 95%);
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.services__icons {
  position: relative;
  font-size: 2rem;
  color: hsl(0, 0%, 18%);
  z-index: 5;
}

.home__scroll-boxIcon {
  animation: scroll-down 2s infinite;
}
/* Animate scroll icon */
@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}

/* Show menu */


/* Add shadow header */

.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, 0.12);
}
